body{
    background: url(fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.formulario{
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 26px;
  background-color: #bbbbbb99;
  border-radius: 5px;
  width: 231px;
  height: 407px;
  font-size: 17px;
  text-align: center;
}
.form{
    margin: 0;
    padding-left: 10%;
}

.bienvenida{
    font-size: 30px;
    width: 40%;
    height: 400px;;
}
.todoP{
  display: flex;
align-items: center;
}
.todoH{
  display: flex;
  position: absolute;
  padding-top: 50%;
  left: 20%;
  align-items: center
}
.datos{
  color:white;
  width: 85%;
  padding: 10px;
border-radius: 5px;
margin-bottom: 10px;
border: solid 1px black;
  background-color: rgba(20, 18, 18, 0.726);
  
}
#edad{
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px black;
  background-color: rgba(20, 18, 18, 0.726);
  margin-bottom: 5px;
}
#registrar{
  border-radius: 10px;
  border: solid 1px rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.589);
  padding: 13px;
  margin-top: 28px;
  width: 102%;
  color: white;
  font-size: 20px;
}
